
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta property="og:url" content="https://www.youtube.com/"/>
	
	<title>Loading...</title>
	
	<style>
	.btn {
    	border: none;
    	color: #ffffff;
		font-size: 20px;
    	cursor: pointer;
		padding: 35px 62px;
		text-align: center;
		text-decoration: none;
		background-color: #ffffff;
		display: inline-block;
	}
	</style>
	
</head>
<body>
	
	<button class="btn" onclick="visitPage();">
		<strong>Watch Video</strong>
	</button>

  <script type="text/javascript">
if (screen.width<800) {
window.location="https://smarturl.it/t9id9l";
}
</script>